@import "tailwindcss";

:root {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, "Roboto Mono",
               "Segoe UI Mono", "Ubuntu Mono", "Consolas", "monospace";
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  width: 100vw;
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.3em;
  line-height: 1.1;
}